{% load static %}

<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Bootstrap CSS! #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {# style.css #}
        <link rel="stylesheet" type="text/css" href="{% static 'smorandev/style.css' %}">
    </head>

    <body class="d-flex flex-column">
        <div id="page-content">
            <div class="container">
                <div class="nav-container">
                    <h1><a href="{% url 'smorandev:index' %}" style="color:white; text-decoration: none;">smoran.dev</a></h1>
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'smorandev:index' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'smorandev:project-index' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'smorandev:resume' %}">Résumé</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/sdmoran">GitHub</a>
                            </li>
                        </ul>
                </div>
            </div>
        {% block content %}
        {% endblock %}
        </div>
            <footer class="footer navbar-fixed-bottom">
                <div class="container">
                    <div class="footer-container">
                        <p>smoran.dev</p>
                        <p> - </p>
                        <a href="mailto:smoran@wpi.edu">Contact</a>
                    </div>
                </div>
            </footer>
    </body>
</html>