{% extends 'smorandev/base.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is the personal website of Sam Moran.</p>
            <hr>
        <p>
            I'm a Computer Science student at Worcester Polytechnic Institute. I created this website to learn web
        technologies as well as showcase some projects that I've worked on. Take a look around!
        </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for project in project_list %}
            <div class="col-sm">
                <div class="card">
                    <img src="{{ project.image }}" class="card-img-top mx-auto" alt="Project image">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.project_name }}</h5>
                        <p>{{ project.blurb }}</p>
                        <a href="{% url "smorandev:project" project.slug %}" class="btn btn-primary">Go to project!</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
