{% extends 'smorandev/base.html' %}
{% load static %}
{% load dat_files %}

{% block content %}
    <br>
    <div class="container">
        <div class="col sm" style="color: black;">
            <h1>{{ project.project_name }}</h1>
            {% if project.github %}
                <p><a href="{{ project.github }}">GitHub Repository</a></p>
            {% endif %}
            <p>
                {{ project.project_detail|linebreaks }}
            </p>
            <h5>Technologies</h5>
            <p>{{ project.technologies }}</p>
            {% if project.webgl_path %}
                    <h5>WebGL</h5>
                    <div class="d-flex justify-content-center">
                        <script src="{% static 'smorandev/webgl/lib/webgl-utils.js' %}"></script>
                        <script src="{% static 'smorandev/webgl/lib/initShaders.js'%}"></script>
                        <script src="{% static 'smorandev/webgl/lib/MV.js'%}"></script>
        {#                Load vertex shader from the project object #}
                        <script id="vshader" type="x-shader/x-vertex">
                        {{ project.webgl_vshader }}
                        </script>
                        <script id="fshader" type="x-shader/x-fragment">
                        {{ project.webgl_fshader }}
                        </script>
                        <div id="webgl-container" class="text-center">
                            <canvas class="canvas" id="webgl" width="400" height="400" style="border:1px solid; background:white">
                                Please use a browser that supports the "canvas" tag.
                            </canvas>
                        </div>
                        <script src="{% static project.webgl_path %}"></script>
                        </div>
        {#              This is REALLY COOL! Gets list of dat files in directory for webgl project. #}
                        {% get_datfiles project.webgl_path as dat %}
                        {% if dat %}
                                <p class="text-center">Choose a premade file to display, or upload your own!</p>
                                <div class="d-flex justify-content-center" id="serverFiles">
                                    <select class="d-flex justify-content-center" onchange="loadFileFromServer(event, '{% static project.webgl_path %}')">
                                        {% for d in dat %}
                                            <option>{{ d }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            <br>
                            <div id="fileContainer" class="d-flex justify-content-center"></div>
                        {% endif %}
                    {% else %}
                    <h5>Images</h5>
                    <div class="row">
                         <div class="{{ project.image_size }} mx-auto">
                            <div class="card">
                                <img src="{{ project.image }}" class="card-img-top mx-auto" alt="Project image">
                            </div>
                        </div>
                    </div>
                    {% endif %}
        </div>
    </div>
    <script>main()</script>
{% endblock %}