{% extends 'smorandev/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container">
        <div class="col sm" style="color: black;">
            <h1>{{ project.project_name }}</h1>
            <p>
                {{ project.project_detail|linebreaks }}
            </p>
            <h5>Technologies</h5>
            <p>{{ project.technologies }}</p>
            {% if project.webgl_path %}
                <h5>WebGL Canvas</h5>
                <script src="{% static 'smorandev/webgl/lib/webgl-utils.js' %}"></script>
                <script src="{% static 'smorandev/webgl/lib/initShaders.js'%}"></script>
                <script src="{% static 'smorandev/webgl/lib/mv.js'%}"></script>
{#                Load vertex shader from the project object #}
                <script id="vshader" type="x-shader/x-vertex">
                {{ project.webgl_vshader }}
                </script>
                <script id="fshader" type="x-shader/x-fragment">
                {{ project.webgl_fshader }}</script>
                <div id="webgl-container" onload="main()">
                    <canvas class="canvas" id="webgl" width="400" height="400" style="border:1px solid">
                        Please use a browser that supports the "canvas" tag.
                    </canvas>
                </div>
                <script src="{% static project.webgl_path %}"></script>
            {% else %}
            <h5>Images</h5>
            <div class="row">
                 <div class="{{ project.image_size }} mx-auto">
                    <div class="card">
                        <img src="{{ project.image }}" class="card-img-top mx-auto" alt="Project image">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}