{% extends 'smorandev/base.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="col sm" style="color: black;">
            <h1 style="text-align: left;">Projects</h1>
            <p>Here's a list of some of the projects that I've done! Each project has a list of some of the languages
                and technologies I used.</p>
        </div>
    {% if project_list %}
            <ul class="list-group">
            {% for project in project_list %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col sm">
                        <h3><a href="{% url 'smorandev:project' project.slug %}">{{ project.project_name }}</a></h3>
                        <span>{{ project.blurb }}</span>
                        <br>
                        <span class="font-weight-light">{{ project.technologies }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>

    {% endif %}
{% endblock %}
