body {
    background: lightgrey;
}

.nav-container {
    background: orange;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
}

.footer-container {
    bottom: 0;
    background: orange;
    color: white;
}

.nav-link {
    color: #fff2d9;
}

.nav > li > a:hover {
    color: white;
}

.card-body {
    background: #e9ecef;
}

.list-group-item {
    background: #e9ecef;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: orange;
}

.footer-container {
    margin-top: 0.5rem;
}

.footer-container > p {
    margin-bottom: 0.5rem;
    text-align: left;
    display: inline-block;
}

.footer-container > a{
    margin-bottom: 0.5rem;
    text-align: center;
    display: inline-block;
    color: white;
}