body {
    background: lightgrey;
}

.header-container {
    background: orange;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
}

.nav-link {
    color: #fff2d9;
}

.nav > li > a:hover {
    color: white;
}

.card-body {
    background: #e9ecef;
}

.list-group-item {
    background: #e9ecef;
}